# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml
.idea
.idea/*
.idea_modules/*

## File-based project format:
*.ipr
*.iws

## OneNote indexing files:
*.onetoc2

# Visual Studio Code IDE configuration
.vscode
.vscode/*

# Apple stuff
.DS_Store

# output files
project/target/
target/

.metals
.metals/
.bloop
project/.bloop

# other
*.log